In [1]:
import pandas as pd
import ast

In [20]:
df_movies_trans = pd.read_csv('C:/2lap 2023/BOOTCAMP HENRY/LAB01_10/datasets/movies_transform.csv')
df_movies_trans

C:\Users\jsart\AppData\Local\Temp\ipykernel_1748\3055188088.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies_trans = pd.read_csv('C:/2lap 2023/BOOTCAMP HENRY/LAB01_10/datasets/movies_transform.csv')

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,Toy Story Collection,30000000,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,['en'],Released,NaN,Toy Story,7.7,1995.0,12.451801
1,NaN,65000000,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"['en', 'fr']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995.0,4.043035
2,Grumpy Old Men Collection,0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.7129,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,0.0,101.0,['en'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995.0,0.000000
3,NaN,16000000,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,81452156.0,127.0,['en'],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995.0,5.090760
4,Father of the Bride Collection,0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,76578911.0,106.0,['en'],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,NaN,0,"['Drama', 'Family']",439050,fa,Rising and falling between a man and woman.,0.072051,NaN,['Iran'],NaN,0.0,90.0,['fa'],Released,Rising and falling between a man and woman,Subdue,4.0,NaN,0.000000
45462,NaN,0,['Drama'],111109,tl,An artist struggles to finish his work while a...,0.178241,['Sine Olivia'],['Philippines'],2011-11-17,0.0,360.0,['tl'],Released,NaN,Century of Birthing,9.0,2011.0,0.000000
45463,NaN,0,"['Action', 'Drama', 'Thriller']",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,['American World Pictures'],['United States of America'],2003-08-01,0.0,90.0,['en'],Released,A deadly game of wits.,Betrayal,3.8,2003.0,0.000000
45464,NaN,0,NaN,227506,en,"In a small town live two brothers, one a minis...",0.003503,['Yermoliev'],['Russia'],1917-10-21,0.0,87.0,NaN,Released,NaN,Satan Triumphant,0.0,1917.0,0.000000
45465,NaN,0,NaN,461257,en,50 years after decriminalisation of homosexual...,0.163015,NaN,['United Kingdom'],2017-06-09,0.0,75.0,['en'],Released,NaN,Queerama,0.0,2017.0,0.000000

+ consulta 1

In [3]:
df_movies_trans['release_date'] = pd.to_datetime(df_movies_trans['release_date'])

In [4]:
df_movies_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 43024 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   33585 non-null  object
 8   production_countries   39178 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45466 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       41631 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
 17  release_year           45376 non-null  float64
 18  return                 45466 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(13)
memory usage: 6.6+ MB

In [5]:
#Se desarrollan las consutlas que fueron solicitadas por el cliente:
df_movies_trans['moth'] = df_movies_trans['release_date'].dt.strftime('%B')

In [6]:
meses = {
    'January': 'Enero',
    'February': 'Febrero',
    'March': 'Marzo',
    'April': 'Abril',
    'May': 'Mayo',
    'June': 'Junio',
    'July': 'Julio',
    'August': 'Agosto',
    'September': 'Septiembre',
    'October': 'Octubre',
    'November': 'Noviembre',
    'December': 'Diciembre'
}

In [7]:
def convert_mes(mes_ingles):
    mes_espanol = meses.get(mes_ingles)
    return mes_espanol

In [8]:
df_movies_trans['moth'] = df_movies_trans['moth'].apply(convert_mes)

In [9]:
def peliculas_mes(mes:str):
    mes = mes.capitalize()
    cantidad = df_movies_trans.loc[df_movies_trans['moth'] == mes, 'title'].count()

    return {'mes':mes, 'cantidad':cantidad}

In [10]:
peliculas_mes('marzo')

{'mes': 'Marzo', 'cantidad': 3553}

+ consulta 2

In [11]:
#Se desarrollan las consutlas que fueron solicitadas por el cliente:
df_movies_trans['day'] = df_movies_trans['release_date'].dt.strftime('%A')

In [12]:
dias = {
    'Monday': 'Lunes',
    'Tuesday': 'Martes',
    'Wednesday': 'Miércoles',
    'Thursday': 'Jueves',
    'Friday': 'Viernes',
    'Saturday': 'Sábado',
    'Sunday': 'Domingo'
}

# Función para convertir el nombre del día de inglés a español
def convert_dia(dia_ingles):
    dia_espanol = dias.get(dia_ingles)
    return dia_espanol

In [13]:
df_movies_trans['day'] = df_movies_trans['day'].apply(convert_dia)

In [14]:
def peliculas_dia(dia:str):
    dia = dia.capitalize()
    cantidad = df_movies_trans.loc[df_movies_trans['day'] == dia, 'title'].count()

    return {'dia':dia, 'cantidad':cantidad}

In [15]:
peliculas_dia('martes')

{'dia': 'Martes', 'cantidad': 4641}

+ consulta 3

In [16]:
def franquicia(franquicia: str):
    '''Se ingresa la franquicia, retornando la cantidad de películas, ganancia total y promedio'''
    df_cantidad = df_movies_trans[df_movies_trans['belongs_to_collection'] == franquicia]
    cantidad = len(df_cantidad)
    ganancia_total = df_cantidad['revenue'].sum()
    ganancia_promedio = df_cantidad['revenue'].mean() if cantidad > 0 else 0

    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total': ganancia_total, 'ganancia_promedio': ganancia_promedio}

In [17]:
franquicia('Toy Story Collection')

{'franquicia': 'Toy Story Collection',
 'cantidad': 3,
 'ganancia_total': 1937890605.0,
 'ganancia_promedio': 645963535.0}

+ consulta 4

In [22]:
def peliculas_pais(pais: str):
    '''Ingresas el país, retornando la cantidad de películas producidas en el mismo'''
    df_movies_trans['production_countries']=df_movies_trans['production_countries'].fillna('')
    cantidad = 0
    
    for countries in df_movies_trans['production_countries']:      
        if pais in countries:
                cantidad += 1
    return {'pais':pais, 'cantidad':cantidad}

In [23]:
peliculas_pais('Iran')

{'pais': 'Iran', 'cantidad': 106}

+ consulta 5

In [18]:
def productoras(productora: str):
    '''Ingresa la productora y retorna la ganancia total y la cantidad de películas que produjeron'''

    df_movies_trans['production_companies'] = df_movies_trans['production_companies'].fillna('')
    productora_df = df_movies_trans[df_movies_trans['production_companies'].apply(lambda x: productora in x)]

    ganancia_total = productora_df['revenue'].sum()
    cantidad = productora_df['revenue'].count()

    return {'productora': productora, 'ganancia_total': ganancia_total, 'cantidad': cantidad}

In [21]:
productoras('Pixar Animation Studios')

{'productora': 'Pixar Animation Studios',
 'ganancia_total': 11188533734.0,
 'cantidad': 52}

+ consulta 6

In [ ]:
def retorno(pelicula:str):
    '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo'''
    df_retorno=df_movies_trans[df_movies_trans['title'] == pelicula]
    inversion= df_retorno['budget'].sum()
    ganancia= df_retorno['revenue'].sum()
    retorn= df_retorno['return'].sum()
    anio = df_retorno['release_year'].astype(int).item()

  
    return {'pelicula':pelicula, 'inversion':inversion, 'ganacia':ganancia,'retorno':retorn, 'anio':anio}

In [ ]:
retorno('Toy Story')